<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.classmanagement.dao.UserMapper">
    
    <resultMap id="userMap" type="user">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into user (account,password,role)
        values (#{account}, #{password}, #{role})
    </insert>

    <select id="queryUserById" resultMap="userMap">
        select * from user
        where id=#{id}
    </select>

    <update id="updateUser" parameterType="user">
        update user
        set account = #{account},
            password = #{password},
            role = #{role}
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from user
        where id = #{id}
    </delete>

    <select id="queryUserByAccount" parameterType="string" resultMap="userMap">
        select *
        from user
        where account = #{account}
    </select>

    <update id="updatePasswordById">
        update user
        set password = #{psw}
        where id = #{id}
    </update>

    <select id="queryUsersLimit" resultMap="userMap">
        select *
        from user
        limit #{start}, #{limit}
    </select>

</mapper>